<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/output-main.css" rel="stylesheet">
  <!-- <script src="../js/feed-page.js" defer></script> -->
</head>
<body>
  <div class="h-screen flex flex-col">

    <div class="flex-1 overflow-y-auto snap-y snap-mandatory scroll-pt-18">

      <header class="sticky flex justify-center top-0 z-10 bg-white p-4">
        <h1 class="text-3xl font-bold text-blue-600">NUFREND</h1>
      </header>
      <!-- middle of page -->
      <!-- change id to fit your page -->
      <div id="feed-box" class="flex flex-col gap-4 w-full max-w-[1400px] mx-auto p-4 md:grid md:grid-cols-[repeat(auto-fit,minmax(350px,1fr))] md:gap-4 md:snap-none">
        <!-- where content will go -->
        <!-- for how the dogs are put here, review the feed-page.js for reference -->
      </div>

    </div>

    <footer class="sticky bottom-0 bg-white border-t border-gray-300 z-10">
      <div class="mx-auto max-w-[1400px] flex justify-around items-center h-15">
        <!-- profile button -->
        <a href="#"><img src="../media/img/user.png" class="w-8 h-8"></a>
        <!-- feed page button -->
        <a href="./feed-page.html"><img src="../media/img/magnifying-glass.png" class="w-8 h-8"></a>
        <!-- favorites page -->
        <a href="./favorites-page.html"><img src="../media/img/heart.png" class="w-8 h-8"></a>
        <!-- chats page -->
        <a href="#"><img src="../media/img/chat.png" class="w-8 h-8"></a>
      </div>
    </footer>
  </div>
</body>
</html>